body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: rgba(153, 255, 245, 1);

}

#encabezado{ 
  height: 180px;
}

#fondoB{  
  display: block;
  position: absolute;

  top: -90px;
  z-index: -2;
  background-color: rgba(153, 255, 245, 0.322);
  
}
header
{
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

#logo{ 
  display: block; 
  position: fixed;
  margin: -17% 0% 0% 76%;
  height: 320px;
  width: 320px;
  z-index: 30;
}

#cuerpo{
	background-color: rgba(94, 77, 57, 0.945);
}

.carta{
	
	padding-top: 70px;
	background-color: rgb(255, 255, 255);
	height: 580px;

	font: italic bold 20px Georgia, Serif;

	color: black;
	



}  

.barras{	
	font: italic bold 100px Georgia, Serif;
	background: linear-gradient(to bottom,  #684D25,  #000000);
	color: #FFF;
	height: 61px;
	padding-top: 18px;
	border-radius: 11px;
	font-size: 40px;
}

#pie{
	height: 450px;
	background: #d69e49;
	background: linear-gradient(to bottom,  #684D25,  #000000);
	
}

/*Codigo css menú responsive*/

#menu {
  z-index: 1;
	background: #684D25;
	background: linear-gradient(to bottom,  #684D25,  #000000);
	color: #FFF;
	height: 61px;
	padding-left: 18px;
	border-radius: 11px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 61px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 22px;
	text-transform: capitalize;
}
h1{
	font: italic bold 100px Georgia, Serif;
	text-shadow: -4px 3px 0 rgba(94, 77, 57, 0.945);
	position: absolute;
	z-index: 1;
	color: white;
	font-size: 50px;
	padding: 7% 0% 0% 0%;
	-webkit-text-stroke: 2px black;
	justify-content: center;
	

}

*{
	box-sizing: border-box;
}


#menu a.dropdown-arrow:after {
	content: "\2B9F";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 61px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 61px;
	text-align: center;
	position: absolute;
	
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 14px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #000000;
	color: #FFFFFF;
}

#cont1{
	position: relative;
	z-index: 0;
	background-color: rgba(94, 77, 57, 0.845);
	display: inline-block;
	padding-top: 40px;
	border-radius: 35px;
	width: 90%;
	height: 400px;
	margin-right: 4%;	
}

#cont2{
	z-index: 1;
	background-color: rgba(94, 77, 57, 0.845);
	display: inline-flex;
	border-radius: 35px;
	width: 28%;
	height: 350px;
	margin-right: 2%;
}

#cont3{
	z-index: 2;
	background-color: black;
	display: -webkit-flex;
	justify-content:space-evenly;
	border-radius: 35px;
	width: 100%;
	height: 50%;
	margin: auto;	
}

img{
	object-fit: cover;
	
}


@media screen and (max-width: 1100px){
  #logo {display: none;}
  .conten3{display: none;}
  .conten2{display: none;}
}
@media screen and (max-width: 800px){ 
	#fondoB{display: none;}
	h1{z-index: 1; font-size: 48px};
	#logo {display: flex; position: absolute; z-index: 2;margin: 0% 0% 0% 0%;}
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
	.barras{font-size: 30px;}
	#cont2.conten3{display: none;}
	#cont2{width: 43%;}
}
@media screen and (max-width: 417px){
	h1{display: none;}
	.barras{font-size: 20px;}
	#logo {display: none;}
	#encabezado{height: 0px;}
	#cont2.conten2{display: none; }
	#cont2.conten3{display: none;}
	#cont2{width: 80%;}
	#fondoB{display: none;}
} 


#formulario{
	background-color: #f3e8d996;

}
.btn {
    background-color: #684D25;
    color: white;
    display: inline;
    font-size: 25px;
    border-radius: 15px;
    padding: 80px;
	padding-top: 25px;
	padding-bottom: 25px;
	
}

.btn:hover {
	background: white;
	color: #684D25;
}


